@charset "ISO-8859-1";

	body { 
		font: 14px/1.4 "Times New Roman", Times, serif; 
		margin-left:1em;
	}
	
	#header{
		padding: 1em;
	}
	
	#welcome{
		float: right;
		padding: 1em;
		margin-top: 1%;
		text-transform: capitalize;
	}
	hr{
		color:black;
	}